ion-view(view-title='Sign up')
  ion-content
    .list
      form(ng-submit='signUp()')
        label.item.item-input
          span.input-label Name
          input(type='text', ng-model='user.name')
        label.item.item-input
          span.input-label Email
          input(type='text', ng-model='user.email')
        label.item.item-input
          span.input-label Password
          input(type='password', ng-model='user.password')
        label.feedback.item(ng-if='msg') {{ msg }}
        .padding
          button.button.button-block.button-positive(type='submit') Sign up
          p.text-center
            a(href='#/signin') Sign in
