ion-tabs.tabs-icon-top.tabs-positive

  ion-tab(title='Home', icon='ion-home', href='#/tab/main', ng-if='paymentAuthData.authMethod')
    ion-nav-view(name='main-tab')
  ion-tab(title='Card Info', icon='ion-card', href='#/tab/payment', ng-if='paymentAuthData.authMethod')
    ion-nav-view(name='payment-tab')

  ion-tab(title='Settings', icon='ion-android-settings', ng-if='true', href='#/tab/settings')
    ion-nav-view(name='settings-tab')

  ion-tab(title='Logout', icon='ion-log-out', ng-if='true', ng-click='logout()')
    ion-nav-view(name='logout-tab')
