ion-view(view-title='Home')
  ion-content
    label.item Let's pay the bills!
    button.button.button-block.button-positive(ng-click="startScanning()") Scan QR code
    //pre {{ user | json }}

    label.item.feedback(ng-show='feedback') {{ feedback }}
    .invoice-info-wrapper(ng-if='invoice')
      .card
        .item.item-text-wrap
          strong ID:
          |  {{ invoice._id }}
        .item.item-text-wrap
          strong Due Date:
          |  {{ invoice.due_date | date:'yyyy-MM-dd' }}
        .item.item-text-wrap
          strong Amount:
          |  ${{ invoice.amount }}
        .already-payed.item(ng-if='invoice.paid_date')
          .label.item.item-balanced
            strong Already payed
            |  ({{ invoice.paid_date | date:'yyyy-MM-dd' }})

        .not-payed-yet(ng-if='!invoice.paid_date')
          // If no card available
          button.button.button-block.button-positive(ng-show='cards.length===0',
            ng-click="navigateTo('tabs.payment')") Add Card Info

          // Select card
          label.item.item-stable.item-input.item-select(ng-show='cards.length > 0')
            .input-label
              strong Select credit card
            select(ng-model='selectedCardId')
              option(ng-repeat='(cardIndex, card) in cards', value='{{card.id}}') {{ card.brand }}, ****{{ card.last4 }}

          // Pay button
          button.button.button-block.button-positive(ng-show='cards.length > 0',
            ng-click='startPayment(selectedCardId)',
            ng-disabled='!selectedCardId || paymentInProgress') Pay&nbsp;
             ion-spinner.spinner.spinner-in-button.spinner-light(ng-show='paymentInProgress', icon='ripple')

        label.item.item-stable(ng-show='paymentFeedback') {{ paymentFeedback }}
