
<ion-tabs class="tabs-icon-top tabs-positive">
  <pre>{{ paymentAuthData.authMethod | json }}</pre>
  <ion-tab title="Home" icon="ion-home" href="#/tab/main" hidden="{{ 2&gt;1 ? &quot;false&quot;:&quot;true&quot; }}">
    <ion-nav-view name="main-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Card Info" icon="ion-card" href="#/tab/payment" hidden="!!paymentAuthData.authMethod">
    <ion-nav-view name="payment-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Settings" icon="ion-android-settings" href="#/tab/settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Logout" icon="ion-log-out" ng-click="logout()">
    <ion-nav-view name="logout-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>