ion-view(view-title='Payment Method')
  ion-content.payment-wrapper
    .button.button-full.button-stable(ng-show='showAddForm', ng-click='showAddForm=false;') Cancel
    .button.button-full.button-balanced(ng-show='!showAddForm', ng-click='showAddForm=true;')
      strong
        i.ion-plus-circled
        |  Add card
    .list(ng-show='showAddForm')
      include ./cardForm.jade

    .list
      label.item.item-stable
        strong Available cards
      .item.item-icon-left.item-icon-right(ng-repeat='(cardIndex, card) in cards')
        i.icon.ion-card
        | {{ card.brand }}, ****{{ card.last4 }}
        i.icon.ion-trash-a(ng-click='deleteCard(card)')



