
<ion-view view-title="Home">
  <ion-content>
    <label ng-click="startPayment()" class="item">Let's pay the bills!</label>
    <button ng-click="startScanning()" class="button button-block button-positive">Scan QR code</button>
    <label ng-show="feedback" class="item feedback">{{ feedback }}</label>
    <div ng-if="invoice" class="invoice-info-wrapper">
      <div class="card">
        <div class="item item-text-wrap"><strong>ID:</strong> {{ invoice._id }}</div>
        <div class="item item-text-wrap"><strong>Due Date:</strong> {{ invoice.due_date | date:'yyyy-MM-dd' }}</div>
        <div class="item item-text-wrap"><strong>Amount:</strong> ${{ invoice.amount / 100 }}</div>
        <div ng-if="invoice.paid_date" class="item item-text-wrap"><strong>Paid Date:</strong> ${{ invoice.paid_date | date:'yyyy-MM-dd' }}</div>
        <!-- TODO: Do not show payment if we do not have user.stripeCustomerId-->
        <button ng-if="!invoice.paid_date" ng-click="startPayment()" class="button button-block button-positive">Pay</button>
        <label ng-show="paymentFeedback" class="item feedback">{{ paymentFeedback }}</label>
      </div>
    </div>
  </ion-content>
</ion-view>